.container .title {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem 0 1rem;
}

.title .query-text {
  color: #f7d354;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.movie-card {
  width: 30%;
  color: #fff;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #111;
  padding: 1rem;
}

.movies-card img {
  max-width: 100%;
}

.movie-card img,
.movie-card h2,
.movie-card p {
  margin-bottom: 1rem;
}
.movie-card svg {
    color: #f7d354;
}

.movie-card a {
    background-color: #f7d354;
    border: 2px solid #f7d354;
    padding: 1rem .3rem;
    border-radius: 4px;
    color: #000;
    font-size: 1.3rem;
    transition: .5s;
    text-align: center;
    font-weight: bold;
}

.movie-card a:hover {
    background-color: transparent;
    color: #f7d354;
}